@import "settings";
.nav{
  width: 200px;position: absolute;left: 0px;top: 80px;background-color:$bg_g_f3f;
  height: 100%;z-index: 98;box-shadow:1px 0 3px #DAD5D5;  color: $textC_g_01A;
  a{color: $textC_g_01A;display: block;}
  dl{padding:0 0 20px 0;line-height: 30px;}
  dt{font-size: 16px;font-weight: bold;border-bottom: 1px solid #f3f3f4;box-shadow:0 1px 0px 0px #C5C5C5;padding: 0 20px;line-height: 40px;
    &.on{background-color: $bdrC_g_01A;border-color: $bdrC_g_01A;color: $white;
      a{color: $white;}
    }
  }
  dd{
    a{border-bottom: 1px solid $white;padding-left:40px;line-height: 30px;height: 30px;}
    display: none;
    &.show{display: block;}
    .on{
      position: relative;font-weight: bold;transition: all 0.3s;
      &:before{
        content: '';position: absolute;;right: -1px;top:6px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid $white;
        border-bottom: 10px solid transparent;

      }
    }

  }

}