header.header
    .logo_icon
        i.icon-bar
        i.icon-bar
        i.icon-bar
    .logo 都安全物业管理后台系统
    .login
        span.account
            label 欢迎您
            |admin
        em |
        a.logout(href='/admin/login')  退出登录

