nav.nav
    dl
        dt: a(href='/') 首页
        dt 用户
        dd
            a.on(href='/users') 用户管理
            a(href='/users/2') 用户管理
        dt 系统管理
        dd
            a(href='/users/4') 用户管理
            a(href='/users/5') 用户管理
        dt 资源管理
            dd
                a(href='/users/7') 元素
                a(href='/users/8') 用户管理